{
  extends: 'airbnb',
  parser: 'babel-eslint',
  plugins: ['react', 'jsx-a11y', 'import', 'flowtype'],
  env: {'browser': true, 'jest': true},
  rules: {
    'comma-dangle': 0,
    'arrow-parens': 0,
    'no-duplicate-imports': 0,
    'react/jsx-filename-extension': [1, { 'extensions': ['.js', '.jsx'] }],
    'flowtype/define-flow-type': 1,
    'flowtype/use-flow-type': 1,
    'import/no-extraneous-dependencies': ['error', { 'devDependencies': true }]
  },
  settings: {
    flowtype: {
      onlyFilesWithFlowAnnotation: true
    }
  }
}
